body {  font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
 background-image: url(images/back.png);
  background-repeat: no-repeat;

  background-size: 100vw 1000vh;
 
}
h1 { 
    text-align: center;
    color: midnightblue;
}
p {
    text-align: center;
    color: navy;

}
h2 {
    text-align: center;
    color: darkblue;
}
h3{
    text-align: center;
    color: purple;
}
.task {
color: white;
padding: 0;
list-style-type: none;
margin: 0;
left: 0;
top: 0;
padding-right: 50%;
}
.item a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  color: white
}
.avoti a:visited{
    color: black;

}
.avoti a{
    color:  black;
display: block;
}
.item a:hover {
  background-color: #555555;
  color: white;
}
.bult {
    padding-left: 45%;
    max-width: 40px;
    max-height: 40px;
}
.gif{
     padding-left: 7%;
    max-width: 45vw;
    max-height: 45vh;
}
video{
    padding-left: 29%;
}

.container
{display: flex;


 align-items: flex-start;
}
iframe{
    padding-left: 30%;
}
.navbar
{
    position: fixed;
}
.main{
  width: 50%;
  padding-left: 25.5%;
  }
.emils {
    max-width: 80%;
    max-height: 80%;
    padding-left: 18%;
}
.logo {
    max-width: 400px;
     max-height: 400px;
     padding-left: 22%;
}